{% layout layout.html, title: "Convert Bikeshed document to HTML" %}
{% block head %}
<style>
    body:has(#type-issues-list:checked) #spec-options {
        display: none;
    }
</style>
{% endblock %}
{% block %}
<p><a href="../">Switch to Respec</a></p>
<fieldset>
    <legend>Document type</legend>
    {% for item in bikeshedTypes %}
    <input id="type-{{ item[0] }}" type="radio" name="type" value="{{ item[0] }}"{% if forloop.first %} checked{% endif %}>
    <label for="type-{{ item[0] }}">{{ item[1] }}</label>
    {% endfor %}
</fieldset>
<fieldset id="spec-options">
    <legend>Bikeshed Spec Options</legend>
    <div>
        <label for="date">Date (defaults to <code>now</code>)</label>
        <input name="md-date" id="date">
    </div>
    <div>
        <input type="checkbox" name="md-prepare-for-tr" value="yes" id="tr">
        <label for="tr">Prepare for TR</label>
    </div>
    <div>

    </div>
</fieldset>
<div class="either">
    <fieldset>
        <label for="url">Spec URL</label>
        <input type="url" name="url" id="url"
            placeholder="https://raw.githubusercontent.com/w3c/wcag-act/refs/heads/main/act-rules-format/act-rules-format.bs" />
        <button formmethod="GET">Generate</button>
    </fieldset>
    <fieldset>
        <label for="file">Or, upload a spec, issues list, or <code>.tar</code> file</label>
        <input type="file" name="file" id="file" accept="application/x-tar, .bs, .bsi, .txt" />
        <button formmethod="POST" formenctype="multipart/form-data">
            Upload and Generate
        </button>
    </fieldset>
</div>
{% endblock %}
