{% layout layout.html, title: "Convert Bikeshed document to HTML" %}
{% block head %}
<style>
    body:has(#type-issues-list:checked) .spec-only,
    body:has(#type-spec:checked) .issues-only {
        display: none;
    }

    fieldset div:not(:first-of-type, :last-of-type) {
        margin: 1em 0;
    }

    fieldset div label:first-child {
        display: inline-block;
        width: 10em;
    }
</style>
{% endblock %}
{% block %}
<fieldset>
    <legend>Document type</legend>
    {% for item in bikeshedTypes %}
    <input id="type-{{ item[0] }}" type="radio" name="type" value="{{ item[0] }}"{% if forloop.first %} checked{% endif %}>
    <label for="type-{{ item[0] }}">{{ item[1] }}</label>
    {% endfor %}
</fieldset>
<fieldset>
    <legend>Options</legend>
    <div>
        <label for="die-on">Die on</label>
        <select name="die-on" id="die-on">
            <option value="nothing">Nothing (force)</option>
            <option value="fatal" selected>Fatal</option>
            <option value="link-error">Link error</option>
            <option value="warning">Warning</option>
            <option value="lint">Lint</option>
            <option value="message">Message</option>
            <option value="everything">Everything</option>
        </select>
    </div>
    <div class="spec-only">
        <div>
            <label for="date">Date <i>(YYYY-MM-DD)</i></label>
            <input name="md-date" id="date">
        </div>
    </div>
    <div class="spec-only">
        <input type="checkbox" name="md-prepare-for-tr" value="yes" id="tr">
        <label for="tr">Prepare for TR</label>
    </div>
</fieldset>
<div class="either">
    <fieldset>
        <label for="url">
            <span class="spec-only">Spec</span>
            <span class="issues-only">Issues list</span>
            URL
        </label>
        <input type="url" name="url" id="url"
            placeholder="https://raw.githubusercontent.com/w3c/process/refs/heads/main/index.bs" />
        <button formmethod="GET">Generate</button>
    </fieldset>
    <fieldset>
        <label for="file">Or, upload
            <span class="spec-only">a <code>.bs</code> or <code>.tar</code> file</span>
            <span class="issues-only">a <code>.bsi</code> or <code>.txt</code> file</span>
        </label>
        <input type="file" name="file" id="file" accept="application/x-tar, .bs, .bsi, .txt" />
        <button formmethod="POST" formenctype="multipart/form-data">
            Upload and Generate
        </button>
    </fieldset>
</div>
<details>
    <summary><h2>HTTP API Help</h2></summary>
    <p>This API may be accessed via GET or POST, with the following parameters:</p>
    <dl>
        <dt>url</dt>
        <dd>URL to process; required if file is not set</dd>
        <dt>file</dt>
        <dd>File upload to process (POST only); required if url is not set, and takes precedence if both are set</dd>
        <dt>type</dt>
        <dd>Type of processing to perform: <code>spec</code> or <code>issues-list</code></dd>
        <dt>die-on</dt>
        <dd>
            Select what levels of events cause processing to fail;
            possible values are <code>nothing</code>, <code>fatal</code> (default),
            <code>link-error</code>, <code>warning</code>, <code>lint</code>, <code>message</code>, or <code>everything</code>
        </dd>
        <dt>md-&lt;key&gt;</dt>
        <dd>Override metadata (e.g. <code>md-date=YYYY-MM-DD</code> or <code>md-prepare-for-tr=yes</code> as exposed in the form above)</dd>
    </dl>
</details>
{% endblock %}
{% block footer %}
<a href="../">Switch to Respec</a>
{% endblock %}
