{% layout layout.html, title: "Convert ReSpec document to HTML" %}
{% block %}
<div class="either">
    <fieldset>
        <label for="url">Spec URL (with optional query parameters)</label>
        <input type="url" name="url" id="url"
            placeholder="https://w3c.github.io/manifest/?specStatus=WD&publishDate=2020-10-20" />
        <button formmethod="GET">Generate</button>
    </fieldset>
    <fieldset>
        <label for="file">Or, upload a <code>.html</code> or <code>.tar</code> file</label>
        <input type="file" name="file" id="file" accept="application/x-tar, .html" />
        <button formmethod="POST" formenctype="multipart/form-data">
            Upload and Generate
        </button>
    </fieldset>
</div>
{% endblock %}
{% block footer %}
<a href="bikeshed/">Switch to Bikeshed</a>
{% endblock %}
